

h1{
    color: #D92086;
    font-size: 32px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 5px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    color: blueviolet;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.weather-app-wrapper {
    max-width: 600px;
    margin: 0px auto;
    text-align: center;

}
.weather-app {
    border: 1px solid #D92086;
    border-radius: 5px;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
}
.overview {
    margin-bottom: 20px;
}
.weather-temperature img{
    height: 64px;
    margin-right: 5px;
    width: 64px;
}
.weather-temperature strong{
    color: #5FB6CF;
    line-height: 1;
    font-size: 64px;
    font-weight: 400;
}
.weather-temperature .units {
    color: #149abe;
    font-size: 16px;
    position: relative;
    top: -34px;
}